# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Live2D'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-live2d:toggle' },
      ]
    ]
  }
]
